<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BokuMango</title>
    <link rel="stylesheet" href="home.css" />
    <style>
              @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
              @import url('https://fonts.googleapis.com/css2?family=Neuton&family=Pacifico&display=swap');
    </style>
  </head>
  <body>
    <div class="navbar">
      <div class="nav-logo">
        <img src="images/Logo web.png" width="80" height="80" alt="logo BokuMango" />
      </div>
      <div class="nav-link">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Testimony</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Product</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="about">
      <div class="about-kiri">
        <p>Mangga</p>
        <h1>Buah tropis yang segar <br> dan sehat</h1>
        <button class="btn-about">Login</button>
      </div>
      <div class="about-kanan">
        <div class="img1"></div>
        <img src="images/Mangga home.png" alt="Mangga home" height="500" width="500">
        <div class="img2"></div>
      </div>
    </div>
    <div class="product"></div>
    <div class="testimony"></div>
  </body>
</html>
