<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BokuMango</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css
    ">
    <link rel="stylesheet" href="home.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Neuton&family=Pacifico&display=swap");
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js
    "></script>
  </head>
  <body>
    <div class="navbar">
      <div class="nav-logo bg-transparent">
        <img
          src="images/Logo web.png"
          width="80"
          height="80"
          alt="logo BokuMango"
        />
      </div>
      <div class="nav-link">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Testimony</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Product</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="home">
      <div class="home-kiri">
        <% if(pesan.length > 0){ %>
          <div class="alert alert-success" style="font-family: 'neuton';"><%= pesan %></div>
        <% } %>
        <p>Mangga</p>
        <h1>
          Buah tropis yang segar <br />
          dan sehat
        </h1>
       <form action="/login">
        <button class="btn-home">Login</button>
       </form>
      </div>
      <div class="home-kanan">
        <div class="img1"></div>
        <img
          src="images/Mangga home.png"
          alt="Mangga home"
          height="500"
          width="500"
        />
        <div class="img2"></div>
      </div>
    </div>
    <div class="about">
      <div class="about-kiri">
        <img src="images/Mangga About.png" height="660" width="465" alt="" />
      </div>
      <div class="about-kanan">
        <h2>About mangga</h2>
        <p>
          Mangga adalah buah tropis yang lezat dan sehat. Mangga berasal dari
          Asia Selatan, di mana mereka dikenal sebagai “raja buah-buahan”.
          <br />
          Mangga memiliki kulit berwarna kuning, hijau, atau merah-hijau, daging
          berwarna kuning yang empuk, dan biji keras di tengah yang tidak dapat
          dimakan.
        </p>
        <br />
        <p>
          Mangga kaya akan vitamin C, vitamin A, vitamin B, dan antioksidan,
          yang baik untuk sistem kekebalan tubuh, kesehatan mata, kontrol
          kolesterol, dan pencegahan kanker. <br />
          Satu cangkir mangga potong dadu menyediakan hampir 70% dari asupan
          vitamin C harian yang direkomendasikan. Mangga juga mengandung gula
          alami yang rendah serat, sehingga disarankan untuk tidak mengonsumsi
          lebih dari dua porsi sehari.
        </p>
        <br />
        <p>
          Mangga dapat dimakan segar atau diolah menjadi berbagai hidangan,
          seperti acar, salsa, kue, es krim, jus, dan lainnya. <br />
          Mangga juga memiliki sifat afrodisiak, yang dapat meningkatkan
          vitalitas dan gairah seksual. Mangga adalah buah yang serbaguna dan
          nikmat, yang dapat Anda nikmati sepanjang tahun.
        </p>
      </div>
    </div>
    <div class="products">
      
      <h2>Our Product</h2>
      <div class="list-products">
        <div class="products1">
          <div class="card-product">
            <img
              src="images/Mangga apel.webp"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga apel</p>
            <p>9000/kg</p>
            <form action="/validate">
              <button>Lihat Produk</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga Alpukat.jpeg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga alpukat</p>
            <p>9000/kg</p>
            <form action="/validate">
              <button>Lihat Produk</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga golek.jpeg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga golek</p>
            <p>9000/kg</p>
            <form action="/">
              <button>Lihat Produk</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga malibu.webp"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga malibu</p>
            <p>9000/kg</p>
            <form action="/validate">
              <button>Lihat Produk</button>
            </form>
          </div>
        </div>
        <div class="products2">
          <div class="card-product">
            <img
              src="images/Mangga arumanis.jpg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga arum manis</p>
            <p>9000/kg</p>
            <form action="/">
              <button>Lihat Produk</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/mangga kwenijpg.jpg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga kweni</p>
            <p>9000/kg</p>
            <form action="/validate">
              <button>Lihat Produk</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga indramayu.jpg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga Indramayu</p>
            <p>9000/kg</p>
            <form action="/validate">
              <button>Lihat Produk</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/mangga podang.jpg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga podang</p>
            <p>9000/kg</p>
            <form action="/boku-home">
              <button>Lihat Produk</button>
            </form>
          </div>
        </div>
        <form action="/validate">
        <button class="btn d-flex mx-auto mt-5">Lihat product lainnya...</button>
        </form>
      </div>
    </div>
    <div class="testimony">
      <h2>Customer Satisfaction</h2>
      <div class="testi-row">
        <div class="testi-card">
          <div class="testi-text">Saya suka sekali dengan mangga yang saya beli di toko ini. <br>
            Mangganya manis, segar, dan beraroma. <br> Kulitnya juga mudah
            dikupas dan dagingnya banyak. <br> Harganya juga terjangkau
            dan pengirimannya cepat. Pokoknya puas banget deh!</div>
          <div class="testi-profile">
            <img src="images/profil1.jpg" width="70" height="70"alt="">
            <h3>Lydia Geidt</h3>
          </div>
        </div>
        <div class="testi-card">
          <div class="testi-text">Saya suka sekali dengan mangga yang saya beli di toko ini. <br>
            Mangganya manis, segar, dan beraroma. <br> Kulitnya juga mudah
            dikupas dan dagingnya banyak. <br> Harganya juga terjangkau
            dan pengirimannya cepat. Pokoknya puas banget deh!</div>
          <div class="testi-profile">
            <img src="images/profil1.jpg" width="70" height="70"alt="">
            <h3>Lydia Geidt</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <h3>Contact Us</h3>
      <form action="/contact-form2" method="post" class="form-contact">
       <div class="form-input">
        <label for="">Your Email</label>
        <input type="email" name="email" class="input-email" required>
       </div>
        <div class="form-input">
          <label for="">Your text</label>
        <textarea name="text" id="text" cols="35" rows="5" required></textarea>
        </div>
        <button class="form-button" type="submit">Kirim</button>
      </form>
    </div>
    <div class="footer">
      @copyright kelompok 2
    </div>
  </body>
</html>
