<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BokuMango</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css
    ">
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Neuton&family=Pacifico&display=swap");
      @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js
    "></script>
  </head>
  <body>
    <div class="navbar2">
      <div class="nav-logo">
        <img
          src="images/Logo web.png"
          width="80"
          height="80"
          alt="logo BokuMango"
        />
      </div>
      <div class="nav-link2">
        <ul>
          <li><button type="button" class="btn bg-transparent btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-cart"></i>
          </button><li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <form action="/logout" method="get">
                    <input type="submit" value="Logout" style="border: none; background: none;"/>
                  </form>
                </li>
              </ul>        
        </ul>
      </div>
    </div>
    <div class="home2">
      <div class="home-text">
        <% if(pesan.length > 0){ %>
          <div class="alert alert-success" style="font-family: 'neuton';"><%= pesan %></div>
        <% } %>
        <p>Hai, <span>Boku People</span></p>
        <h1>
          Selamat datang di <span>BokuMango</span>, <br>Platform penjualan mangga nomor 1
        </h1>
        <button class="btn-home" type="button" >Mulai berbelanja <i class="bi bi-cart2"></i></button>
      </div>
    </div>
    <!-- <div class="about">
      <div class="about-kiri">
        <img src="images/Mangga About.png" height="660" width="465" alt="" />
      </div>
      <div class="about-kanan">
        <h2>About mangga</h2>
        <p>
          Mangga adalah buah tropis yang lezat dan sehat. Mangga berasal dari
          Asia Selatan, di mana mereka dikenal sebagai “raja buah-buahan”.
          <br />
          Mangga memiliki kulit berwarna kuning, hijau, atau merah-hijau, daging
          berwarna kuning yang empuk, dan biji keras di tengah yang tidak dapat
          dimakan.
        </p>
        <br />
        <p>
          Mangga kaya akan vitamin C, vitamin A, vitamin B, dan antioksidan,
          yang baik untuk sistem kekebalan tubuh, kesehatan mata, kontrol
          kolesterol, dan pencegahan kanker. <br />
          Satu cangkir mangga potong dadu menyediakan hampir 70% dari asupan
          vitamin C harian yang direkomendasikan. Mangga juga mengandung gula
          alami yang rendah serat, sehingga disarankan untuk tidak mengonsumsi
          lebih dari dua porsi sehari.
        </p>
        <br />
        <p>
          Mangga dapat dimakan segar atau diolah menjadi berbagai hidangan,
          seperti acar, salsa, kue, es krim, jus, dan lainnya. <br />
          Mangga juga memiliki sifat afrodisiak, yang dapat meningkatkan
          vitalitas dan gairah seksual. Mangga adalah buah yang serbaguna dan
          nikmat, yang dapat Anda nikmati sepanjang tahun.
        </p>
      </div>
    </div> -->
    <div class="products" id="products">
      <h2>Our Product</h2>
      <div class="list-products">
        <div class="products1">
          <div class="card-product">
            <img
              src="images/Mangga apel.webp"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga apel</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk1">Add to cart</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga Alpukat.jpeg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga alpukat</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk2">Add to cart</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga golek.jpeg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga golek</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk3">Add to cart</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga malibu.webp"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga malibu</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk4">Add to cart</button>
            </form>
          </div>
        </div>
        <div class="products2">
          <div class="card-product">
            <img
              src="images/Mangga arumanis.jpg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga arumanis</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk5">Add to cart</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga gedong gincu.webp"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga gedong gincu</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk6">Add to cart</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga manalagi.jpg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga manalagi</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk7">Add to cart</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga podang.jpg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga podang</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk8">Add to cart</button>
            </form>
          </div>
        </div>
        <div class="products2">
          <div class="card-product">
            <img
              src="images/Mangga harummanis.jpg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga harum manis</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk9">Add to cart</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga kwenijpg.jpg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga kweni</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk10">Add to cart</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga indramayu.jpg"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga indramayu</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk11">Add to cart</button>
            </form>
          </div>
          <div class="card-product">
            <img
              src="images/Mangga malibu.webp"
              height="206"
              width="187"
              alt=""
            />
            <p>Mangga malibu</p>
            <p>9000/kg</p>
            <form action="/">
              <button type="button" data-bs-toggle="modal" data-bs-target="#produk12">Add to cart</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="testimony">
      <h2>Customer Satisfaction</h2>
      <div class="testi-row">
        <div class="testi-card">
          <div class="testi-text">Saya suka sekali dengan mangga yang saya beli di toko ini. <br>
            Mangganya manis, segar, dan beraroma. <br> Kulitnya juga mudah
            dikupas dan dagingnya banyak. <br> Harganya juga terjangkau
            dan pengirimannya cepat. Pokoknya puas banget deh!</div>
          <div class="testi-profile">
            <img src="images/profil1.jpg" width="70" height="70"alt="">
            <h3>Lydia Geidt</h3>
          </div>
        </div>
        <div class="testi-card">
          <div class="testi-text">Saya suka sekali dengan mangga yang saya beli di toko ini. <br>
            Mangganya manis, segar, dan beraroma. <br> Kulitnya juga mudah
            dikupas dan dagingnya banyak. <br> Harganya juga terjangkau
            dan pengirimannya cepat. Pokoknya puas banget deh!</div>
          <div class="testi-profile">
            <img src="images/profil1.jpg" width="70" height="70"alt="">
            <h3>Lydia Geidt</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <h3>Contact Us</h3>
      <form action="/contact-form1" method="post"class="form-contact">
       <div class="form-input">
        <label for="">Your Email</label>
        <input type="email" name="email" class="input-email">
       </div>
        <div class="form-input">
          <label for="">Your text</label>
        <textarea id="text" cols="35" rows="5" name="text" required></textarea>
        </div>
        <button class="form-button border-1" type="submit">Kirim</button>
      </form>
    </div>
    <div class="footer">
      @copyright kelompok 2
    </div>
    <!-- Modal -->
<div class="modal modal-lg fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cart</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-responsive">
          <tr>
            <th>#</th>
            <th>product</th>
            <th>price</th>
            <th>quantity</th>
            <th>subtotal</th>
          </tr>
          <tr>
            <td>
              <button class="border-0 bg-transparent"><i class="bi bi-x-circle"></i></button>
            </td>
            <td class="d-flex">
              <img src="images/mangga podang.jpg" alt="" height="50" width="50">
              <p class="ms-2">Mangga podang <br> 1kg</p>
            </td>
            <td>9000</td>
            <td>1</td>
            <td>9000</td>
          </tr>
        </table>
        <div class="row d-flex justify-content-end">
          <div class="col-4">
            <div class="card">
              <div class="card-header bg-head-custom text-center">Total</div>
              <div class="card-body">
                <div class="d-flex justify-content-between" style="border-bottom: 1px solid black;">
                  <p>Subtotal : </p>
                  <p>9000</p>
                </div>
                <button class="btn d-flex justify-content-center" style="border: 1px solid grey; margin-left: 15px; margin-top: 10px; border-radius: 10px;">proceed to checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk1" tabindex="-1" aria-labelledby="produk1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex ">
        <div class="ms-2">
          <div id="carouselproduk1" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga apel</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p>mangga dengan jenis ini memiliki kriteria yang khas dengan bentuk buahnya yang bulat layaknya bentuk buah apel. Warna buah ini juga sangat bisa bervariasi, yaitu warna hijau, warna hijau kemerahan, dan bahkan bisa berwarna merah.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk2" tabindex="-1" aria-labelledby="produk2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="ms-2">
          <div id="carouselproduk2" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga alpukat</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p>Mangga alpukat merupakan mangga hasil inovasi Kementerian Pertanian yang diberi nama varietas Gadung 21 yang memiliki keunggulan ukuran buah besar, pangkal buahnya bulat dengan kadar pati tinggi (10,27%), daging buah tebal, kuantitas serat pada daging buah rendah, kadar pati cukup tinggi (10,27 %) dan kadar air rendah</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk3" tabindex="-1" aria-labelledby="produk3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="ms-2">
          <div id="carouselproduk3" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/Mangga golek.jpeg" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga golek</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p>Ciri khas dari jenis mangga yang satu ini adalah kulit buah yang berwarna hijau ketika muda dan berubah menjadi kuning ketika sudah matang. Jenis mangga ini memiliki ukuran yang besar dan berbentuk panjang serta rasa manis dengan aroma khas merupakan ciri khas mangga golek.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk4" tabindex="-1" aria-labelledby="produk4" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="ms-2">
          <div id="carouselproduk4" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/Mangga malibu.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga Malibu</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p>Mangga malibu adalah jenis mangga yang sejatinya berasal dari Darwin, Australia. Mangga ini kemudian diekspor ke Indonesia dan jadi cukup populer.
              <br>
              Mangga malibu memiliki warna kulit buah kuning kemerahan. Uniknya, rasa buah ini mirip dengan buah kelapa. Secara ukuran, mangga malibu sedikit lebih besar ketimbang mangga lainnya.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk5" tabindex="-1" aria-labelledby="produk5" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="ms-2">
          <div id="carouselproduk5" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/Mangga arumanis.jpg" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk5" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk5" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga arum manis</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p>Disebut juga sebagai Arumanis atau Harumanis, mangga ini adalah yang paling populer di Indonesia. Jenis yang satu ini bentuknya lonjong dengan ujung bawah yang meruncing dan bagian atas yang lebih gemuk. Dengan warna hijaunya, bentukan inilah yang menjadi simbol buah mangga.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk6" tabindex="-1" aria-labelledby="produk6" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="ms-2">
          <div id="carouselproduk6" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/Mangga gedong gincu.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk6" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk6" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga Gedong Gincu</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p>mangga dengan jenis ini memiliki kriteria yang khas dengan bentuk buahnya yang bulat layaknya bentuk buah apel. Warna buah ini juga sangat bisa bervariasi, yaitu warna hijau, warna hijau kemerahan, dan bahkan bisa berwarna merah.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk7" tabindex="-1" aria-labelledby="produk7" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="ms-2">
          <div id="carouselproduk7" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/Mangga manalagi.jpg" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk7" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk7" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga Manalagi</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p>Mangga manalagi berasal dari Indonesia tepatnya di Kota Probolinggo Provinsi Jawa Timur. Mangga manalagi memiliki karakteristik kulit buah berwarna hijau dengan bintik putih, daging buah yang tebal dengan rasa manis yang mendominasi.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk8" tabindex="-1" aria-labelledby="produk8" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="ms-2">
          <div id="carouselproduk8" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/Mangga podang.jpg" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk8" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk8" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga Manalagi</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p>Mangga podang termasuk dalam famili Anacardiaceae, tumbuh musiman pada sekitar bulan Oktober hingga November. Mangga podang yang tumbuh di kabupaten Kediri tersebar di lima kecamatan yaitu Banyakan, Tarokan, Grogol, Mojo, dan Semen. Mangga podang tumbuh pada lahan kering, dataran tinggi hingga ke dataran rendah.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk9" tabindex="-1" aria-labelledby="produk9" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="ms-2">
          <div id="carouselproduk9" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/Mangga harummanis.jpg" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk9" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk9" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga harum manis</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p>Mangga harum manis berbentuk bulat panjang dan ada juga berbentuk bulat pipih. Daging buah mangga arumanis cukup tebal dan agak berserat. Mangga kaya akan vitamin C, yang memainkan peran utama dalam kesehatan kulit dan bahkan dapat membantu mengurangi tanda-tanda penuaan.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk10" tabindex="-1" aria-labelledby="produk10" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="ms-2">
          <div id="carouselproduk10" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/mangga kwenijpg.jpg" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk10" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk10" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga kweni</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p>mangga kweni berbentuk lonjong dengan tangkai yang terletak di tengah pangkal buah. Pucuk buah runcing sedangkan pangkalnya bulat dan tidak berlekuk. Kweni memiliki kulit buah yang tebal dan halus, berlilin serta terdapat bintik-bintik jarang dengan warna hijau keputihan.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk11" tabindex="-1" aria-labelledby="produk11" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="ms-2">
          <div id="carouselproduk11" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/Mangga indramayu.jpg" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk11" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk11" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga Indramayu</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p></p>Mangga indramayu memiliki daging buah tebal, empuk, lembut, dan kaya serat. Aromanya sangat khas dan rasanya manis. Teksturnya tidak terlalu berair. Dapat dikonsumsi sebagai kudapan, kreasi mango sticky rice, atau diolah menjadi jus dan selai sesuai selera.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-fade" id="produk12" tabindex="-1" aria-labelledby="produk12" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-head-custom">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="ms-2">
          <div id="carouselproduk12" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/Mangga malibu.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
              <div class="carousel-item">
                <img src="images/Mangga Alpukat.jpeg" class="d-block rounded" alt="..." height="150" width="150">            
              </div>
              <div class="carousel-item">
                <img src="images/mangga apel.webp" class="d-block rounded" alt="..." height="150" width="150">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselproduk12" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselproduk12" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="ms-2 mt-2">
          <h3 class="fs-3" style="font-family: 'neuton';">Mangga Malibu</h3>
          <h5 class="mt-2 fs-4" style="font-family:'neuton';">Rp 9.000 <span class="fs-5">/kg</span></h5>
          <hr>
          <i class="bi bi-patch-check me-1"></i>Jaminan belanja aman
          <hr>
          <div class="card shadow-lg p-2" style="margin-left: -150px; font-family: 'neuton';">
            <p>Mangga Malibu, jenis mangga yang asalnya berasal dari Darwin, Australia, kini sudah mulai populer di Indonesia. Kulit buahnya berwarna kuning kemerahan yang memikat, sedangkan rasanya sangat unik karena mirip dengan kelapa. Selain itu, Mangga Malibu juga lebih besar dari ukuran mangga biasa.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn" style="background-color: #FED203;
        ">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
  </body>
</html> 