<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BokuMango</title>
    <link rel="stylesheet" href="home.css" />
    <style>
              @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    </style>
  </head>
  <body>
    <div class="navbar">
      <div class="nav-logo">
        <img src="images/Logo web.png" width="70" height="70" alt="logo BokuMango" />
      </div>
      <div class="nav-link">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Testimony</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Product</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="about"></div>
    <div class="product"></div>
    <div class="testimony"></div>
  </body>
</html>
