<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BokuMango | Login</title>
    <link rel="stylesheet" href="login.css">
    <style>
              @import url("https://fonts.googleapis.com/css2?family=Neuton&family=Pacifico&display=swap");
    </style>
</head>
<body>
    
    <div class="login-page">
        <div class="login-form">
            <h2>User login</h2>
            <form action="/auth" method="post">
                <input type="email" placeholder="Email" name="email">
                <input type="password" name="password" placeholder="password">
                <input type="submit" value="Login" class="button" />
            </form>
            <h4>Belum punya akun?<a href="/register">Daftar sekarang</a></h4>
        </div>
        <div class="login-image">
            <img src="images/Rectangle 38.png" width="673" alt="">
        </div>
    </div>
</body>
</html>