<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boku Mango | Register</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    
    <div class="latar">
        <div class="latar1"></div>
        <div class="latar2"></div>
    </div>
    <div class="form-register">
        <div class="form-daftar">
            <h2>User Register</h2>
            <form action="">
                <input type="email" placeholder="Email" name="email">
                <input type="password" name="" placeholder="password">
                <button type="submit" name="submit">Login</button>
            </form>
            <h4>Sudah punya akun?<a href="/login">Login sekarang</a></h4>
        </div>
        <div class="form-image">
            <img src="images/Rectangle 38.png" alt="">
        </div>
    </div>
</body>
</html>